*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/* Desktop */
.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 8rem 3rem auto auto 6rem;
}
header{
    text-align: center;
    padding-top: 0.5rem;
    padding-left: 2rem;
    background-color: #fbfdd8;
    color: black;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    grid-row: 1/2;
    grid-column: 1/4;
}

header div{
    padding-right: 2rem;
}
/* Navigation bar */
nav{
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;

    grid-row: 2/3;
    grid-column: 1/4;
}
nav a{
    padding: 1.3rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

nav a:hover{
    color: white;
}

nav a:nth-last-child(1){
    margin-left: auto;
    padding-right: 3rem;
}

    .dropbtn {
        background-color: green;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: black;
        font-size: 1rem;
        
      }
      
      .dropdown {
        padding-left: 1rem;
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: blue;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {color: white;}

main{
    padding: 2rem;
    background-color: green;

    grid-row: 3/5;
    grid-column: 1/4;
}

main h2{

text-align: center;
padding-bottom: 2rem;

}

p{
    padding-bottom: 1rem;
}

footer{
    background-color: blue;
    padding-top: 2rem;
    text-align: center;

    grid-row: 5/6;
    grid-column: 1/4;
}

    ul{
        list-style-type: none;
        padding: 1.5rem;
        border: 1.5rem solid #cec28e;
        display: flex;
        flex-flow: row wrap;
    }

    ul a{
        border: 0.5rem solid green;
        color: red;
    }

    ul a:hover{
        opacity: 0.6;
        background-color: pink;
        color: black;
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        display: inline-block;
      }

      article{
          background-color: #CDD1CC;
          text-align: center;
          align-content: center;
            }

    div{
        display: block;
        text-align: center;
    }

    form{
    font-size: 1rem;
    color: black;
    background-color: rgb(59, 155, 245);
    width: 500px;
    display: inline-block;
    margin: auto;
    padding: 1rem;
    text-align: left;
     }
    
    img{
        width: 100%;
        max-width: 1000px;
    }


ul a img{
        width: auto;
}

    
  .a {
    grid-row: 3/4;
    grid-column: 1/4;
  }
  
  .b {
    grid-row: 4/5;
    grid-column: 1/2;
  }

    .b img{
      max-width: 300px;  
    }
  
  .c {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .c img{
    max-width: 300px;  
  }

 .d {
    grid-row: 4/5;
    grid-column: 3/4;
 }

 .d img{
    max-width: 300px;  
  }


/* Startsida */
@media ( max-width: 1000px) {
        ul > div { flex-basis: 50%; }
        ul a img {width: 350px;}
}

@media ( max-width: 900px) {
    ul a img {width: 300px;}
}

@media ( max-width: 800px) {
    ul a img {width: 250px;}
}

@media ( max-width: 700px) {
    ul a img {width: 200px;}
}

@media ( max-width: 600px) {
    ul > div { flex-basis: 100%; }
    ul a img {width: 100%;}
    div form {max-width: 75vw;}
}

/* Mobil */
@media ( max-width: 460px) {
    nav a{
        padding: 0.8rem;
    }

    .dropdown {
        padding-left: 0.8rem;
        position: relative;
        display: inline-block;
    }
    div form {width: 260px;}
    }